conceptdb/exporters/boltexporter-1.0.0.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.julielab.de/conceptdb/exporters/serverplugin"
           targetNamespace="http://www.julielab.de/conceptdb/exporters/serverplugin"
           elementFormDefault="qualified">
    <xs:include schemaLocation="http://www.julielab.de/conceptdb/exporters/exporterbase-1.0.0.xsd"/>

    <xs:complexType name="boltexportertype">
        <xs:sequence>
            <xs:element name="configuration" type="exportcypherquerytype"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="boltexporter" type="boltexportertype"/>
</xs:schema>